In [3]:
import pandas as pd
import numpy as np

In [4]:
flats = pd.read_csv('../data/flats_cleaned.csv')
houses = pd.read_csv('../data/house_cleaned.csv')

In [5]:
df = pd.concat([flats,houses],ignore_index=True)

In [6]:
df = df.sample(df.shape[0],ignore_index=True)

In [7]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 92 Gurgaon,flat,raheja navodaya,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,2,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Brand new residential apartment for sell.Locat...,[],NaN,"['Management4 out of 5', 'Green Area5 out of 5..."
1,4 BHK Flat in Gwal Pahari,flat,paras quartier,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,3+,not available,"Paras Quartier, Valley View Estate, Gwal Pahar...",0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","New apartment, lush green aravalli valley 270 ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
2,2 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,1,not available,"Sector 81 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Looking for a 2 bhk property for sale in gurga...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3.5 out of 5', 'Green Area4 out of..."
3,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,3+,servant room,"1111, Sector 85 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 4 bhk apartment/flat in sector 85 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,2,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 2 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [11]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1827,2 BHK Flat in Sector 76 Gurgaon,flat,corona gracieux,0.75,5660.0,1325.0,Super Built up area 1325(123.1 sq.m.),2,2,3,not available,Oc Not Available At The Moment. It's In Proces...,13.0,NaN,1 to 5 Year Old,"['Entertainland Mall', 'Delhi Ajmer Expressway...",We are the proud owners of this 2 bhk apartmen...,"['3 Fan', '1 Exhaust Fan', '3 Geyser', '7 Ligh...",NaN,NaN
2862,5 Bedroom House for sale in Mianwali Colony,house,project mianwali colony,2.00,14815.0,1350.0,Built Up area: 1350 (125.42 sq.m.),5,5,2,not available,"Mianwali Colony, Near Bus Stand, Gurgaon, Hary...",3.0,East,undefined,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'Lal...","5 bath, semi-Furnished, ground floor (Of 3), o...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3.5 out of 5', 'Lifestyle4 out of..."
3750,2 BHK Flat in Sector 70 Gurgaon,flat,shree vardhman victoria,1.10,8461.0,1300.0,Carpet area: 1300 (120.77 sq.m.),2,2,2,not available,"Sector 70 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",Square yards rera reg.\nHrera 660/2017/307\nPr...,"['3 Wardrobe', '1 Modular Kitchen', '1 Chimney...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of..."
2005,3 BHK Flat in Sector 80 Gurgaon,flat,godrej frontier,1.60,7000.0,2286.0,Super Built up area 2262(210.15 sq.m.),3,3,3,servant room,"Sector 80 Gurgaon, Gurgaon, Haryana",5.0,NaN,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...","This 3 bhk flat in sector-80 gurgaon, gurgaon ...",[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4 out of 5..."
1672,3 BHK Flat in Sector 81 Gurgaon,flat,dlf the ultima,2.30,14375.0,1600.0,Super Built up area 2132(198.07 sq.m.)Carpet a...,3,4,3+,servant room,"18th Floor Ultima, Sector 81 Gurgaon, Gurgaon,...",18.0,North-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Vatika Town...",3bhk 4baths\nFlat/apartment for sale\nIn dlf t...,"['3 Wardrobe', '3 Fan', '1 Fridge', '3 Geyser'...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."

In [8]:
df.shape

(3995, 20)

In [9]:
df.to_csv('gurgaon_properties.csv',index=False)