In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/gurgaon_properties.csv")

In [3]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 92 Gurgaon,flat,raheja navodaya,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,2,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Brand new residential apartment for sell.Locat...,[],NaN,"['Management4 out of 5', 'Green Area5 out of 5..."
1,4 BHK Flat in Gwal Pahari,flat,paras quartier,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,3+,not available,"Paras Quartier, Valley View Estate, Gwal Pahar...",0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","New apartment, lush green aravalli valley 270 ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
2,2 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,1,not available,"Sector 81 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Looking for a 2 bhk property for sale in gurga...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3.5 out of 5', 'Green Area4 out of..."
3,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,3+,servant room,"1111, Sector 85 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 4 bhk apartment/flat in sector 85 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,2,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 2 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [4]:
df.shape

(3995, 20)

In [5]:
df.duplicated().sum()

np.int64(13)

In [6]:
df = df.drop_duplicates()

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3982 entries, 0 to 3993
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3982 non-null   object
 1   property_type    3982 non-null   object
 2   society          3981 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3982 non-null   object
 7   bedRoom          3982 non-null   int64
 8   bathroom         3982 non-null   int64
 9   balcony          3982 non-null   object
 10  additionalRoom   3982 non-null   object
 11  address          3971 non-null   object
 12  floorNum         3961 non-null   float64
 13  facing           2789 non-null   object
 14  agePossession    3981 non-null   object
 15  nearbyLocations  3764 non-null   object
 16  description      3982 non-null   object
 17  furnishDetails   2935 non-null   object
 18  features         3256 non-null   object
 19  rating           3528 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 653.3+ KB

In [9]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                41
price_per_sqft       41
area                 41
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1193
agePossession         1
nearbyLocations     218
description           0
furnishDetails     1047
features            726
rating              454
dtype: int64

In [10]:
df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.strip())

In [11]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 92 Gurgaon,flat,raheja navodaya,Sector 92,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,...,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Brand new residential apartment for sell.Locat...,[],NaN,"['Management4 out of 5', 'Green Area5 out of 5..."
1,4 BHK Flat in Gwal Pahari,flat,paras quartier,Gwal Pahari,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,...,not available,"Paras Quartier, Valley View Estate, Gwal Pahar...",0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","New apartment, lush green aravalli valley 270 ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
2,2 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,Sector 81,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,...,not available,"Sector 81 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Looking for a 2 bhk property for sale in gurga...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3.5 out of 5', 'Green Area4 out of..."
3,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,Sector 85,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,...,servant room,"1111, Sector 85 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 4 bhk apartment/flat in sector 85 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,Sector 65,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,...,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 2 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [12]:
df['sector'] = df['sector'].str.lower()

In [13]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 92 Gurgaon,flat,raheja navodaya,sector 92,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,...,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Brand new residential apartment for sell.Locat...,[],NaN,"['Management4 out of 5', 'Green Area5 out of 5..."
1,4 BHK Flat in Gwal Pahari,flat,paras quartier,gwal pahari,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,...,not available,"Paras Quartier, Valley View Estate, Gwal Pahar...",0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","New apartment, lush green aravalli valley 270 ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
2,2 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,sector 81,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,...,not available,"Sector 81 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Looking for a 2 bhk property for sale in gurga...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3.5 out of 5', 'Green Area4 out of..."
3,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,sector 85,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,...,servant room,"1111, Sector 85 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 4 bhk apartment/flat in sector 85 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,sector 65,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,...,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 2 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [14]:
df['sector'].value_counts()

sector
sohna                   163
sector 102              113
sector 85               110
sector 92               104
sector 69                94
                       ...
near sector 1 market      1
near khandsa road         1
ashok vihar phase 3       1
cyber city                1
sector-7 hous             1
Name: count, Length: 302, dtype: int64

In [15]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [16]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [17]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [18]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [19]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [20]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [21]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [22]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [23]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
                    ...
b block sector 43      3
sector 17a             3
sheetla colony         3
sector 15              3
a block sector 43      3
Name: count, Length: 134, dtype: int64

In [24]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')

In [25]:
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [26]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
827,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
1077,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
1554,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,...,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,2027-06-01 00:00:00,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2526,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [27]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [28]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
494,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
514,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,...,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
1170,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
3079,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,...,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3884,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,...,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [29]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [30]:
df.shape

(3829, 21)

In [31]:
df.duplicated().sum()

np.int64(0)

In [33]:
df.head(10)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 92 Gurgaon,flat,raheja navodaya,sector 92,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,...,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Brand new residential apartment for sell.Locat...,[],NaN,"['Management4 out of 5', 'Green Area5 out of 5..."
1,4 BHK Flat in Gwal Pahari,flat,paras quartier,gwal pahari,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,...,not available,"Paras Quartier, Valley View Estate, Gwal Pahar...",0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","New apartment, lush green aravalli valley 270 ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
2,2 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,sector 81,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,...,not available,"Sector 81 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Looking for a 2 bhk property for sale in gurga...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3.5 out of 5', 'Green Area4 out of..."
3,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,sector 85,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,...,servant room,"1111, Sector 85 Gurgaon, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 4 bhk apartment/flat in sector 85 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,sector 65,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,...,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 2 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
5,3 BHK Flat in Sector 67 Gurgaon,flat,ireo victory valley,sector 67,2.99,11832.0,2527.0,Super Built up area 2527(234.77 sq.m.)Built Up...,3,3,...,servant room,"702, Sector 67 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...",Note- We deal exclusively in the society ireo ...,"['3 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 St...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."
6,1 BHK Flat in Sohna,flat,hcbs sports ville,sohna road,0.24,7407.0,324.0,Carpet area: 324 (30.1 sq.m.),1,1,...,not available,"Sohna, Gurgaon, Haryana",1.0,North,0 to 1 Year Old,"['The roadside cafe', 'GD Goenka Mess', 'ROyal...",This 1 bhk flat is located in hcbs sports vill...,NaN,"['Power Back-up', 'Security / Fire Alarm', 'In...","['Green Area4 out of 5', 'Amenities4 out of 5'..."
7,2 BHK Flat in Sector 3 Gurgaon,flat,apna enclave,sector 3,0.55,5789.0,950.0,Super Built up area 950(88.26 sq.m.)Built Up a...,2,2,...,not available,"Near Railway Station, Sector 3 Gurgaon, Gurgao...",2.0,North-East,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Residential apartment for sale in apna enclave...,"['2 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety4.5 out of 5', 'Lifestyle4 out of 5', ..."
8,3 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,sector 88a,1.50,8108.0,1850.0,Super Built up area 1850(171.87 sq.m.),3,3,...,not available,"B1101, Sector 88A Gurgaon, Gurgaon, Haryana",11.0,North-East,0 to 1 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",Urgent- Crash deal. Amazing and luxurious 3bhk...,"['1 Water Purifier', '1 Exhaust Fan', 'No AC',...","['Swimming Pool', 'Piped-gas', 'Security Perso...","['Green Area5 out of 5', 'Amenities5 out of 5'..."
9,3 BHK Flat in Sector 59 Gurgaon,flat,mahindra luminare,sector 59,5.50,18181.0,3025.0,Super Built up area 3025(281.03 sq.m.),3,3,...,servant room,"Sector 59 Gurgaon, Gurgaon, Haryana",26.0,NaN,2024-12-01 00:00:00,"['Sector 55-56 Metro Station', 'Metro World Ma...",Located in the popular residential address of ...,"['4 Fan', '4 Light', '4 AC', '1 Modular Kitche...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area5 out of 5', 'Construction5 out of..."

In [34]:
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [35]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,raheja navodaya,sector 92,0.62,4807.0,1290.0,Built Up area: 1498 (139.17 sq.m.)Carpet area:...,2,2,2,not available,5.0,NaN,0 to 1 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",[],NaN
1,flat,paras quartier,gwal pahari,5.90,11028.0,5350.0,Built Up area: 5350 (497.03 sq.m.),4,4,3+,not available,0.0,NaN,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'South point Ma...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
2,flat,signature global synera,sector 81,0.50,7886.0,634.0,Carpet area: 634 (58.9 sq.m.),2,2,1,not available,11.0,East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...","['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
3,flat,ss the leaf,sector 85,2.05,7290.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,3+,servant room,4.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F..."
4,flat,m3m heights,sector 65,1.99,15793.0,1260.0,Super Built up area 1260(117.06 sq.m.),2,2,2,not available,26.0,NaN,2023-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",[],NaN

In [36]:
df.duplicated().sum()

np.int64(122)

In [37]:
df.to_csv('../data/gurgaon_properties_cleaned_v1.csv',index=False)